@using Newtonsoft.Json
@using ThePath.Frontend.Models.Classes.Dto
@model IList<EntertainmentLookupDtoByTypeAndAreaAndPrice>;

<head>
    <title>ThePath</title>
    <script src="~/js/map.js" charset="utf-8" type="text/javascript"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
    <link rel="stylesheet" href="~/css/CardEntertainment.css">
    <link rel="stylesheet" href="~/css/MarkerCluster.css" />
    <link rel="stylesheet" href="~/css/MarkerCluster.Default.css" />
    <script src="~/js/leaflet.markercluster-src.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">Выбери место из списка</p>
        </div>
        <div class="col-md-8">
            <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">Выбери место на карте</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @if (Model.Count == 0)
            {
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4>По вашему запросу ничего не найдено</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="overflow: auto; width:100%; height:730px;">
                    @foreach (var i in Model)
                    {
                        <form method="post" asp-controller="Home" asp-action="DetailsEntertainment">
                            <div class="card" id="ss" onclick="EntertainmantDetailsMap('@i.Latitude', '@i.Longitude', '@i.Name' , 14)">
                                <div class="row no-gutters">
                                    <div class="card">
                                        <div class="col-md-12">
                                            <img class="card-img" asp-controller="Home" asp-action="DetailsEntertainment" src="@Url.Content((i.UrlImage + "main.jpg").Replace(" ", ""))">
                                            <div class="card-body text-center">
                                                <p style="font-family: Montserrat, sans-serif;font-size: 28px;">@i.Name</p>
                                                <a class="btn btn-outline-primary text-center" role="button" asp-controller="Home" asp-action="DetailsEntertainment" asp-route-Id="@i.Id" style="width: 187px;font-size: 22px;"><strong>Подробности</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            }
        </div>
        <div class="col-md-8">
            <style>
                #map {
                    height: 75vh;
                }
            </style>
            <div class="container">
                <div id="map"></div>
            </div>
            @Html.Hidden("RedirectTo", Url.Action("DetailsEntertainment", "Home")) @*РRedirect after touch popup*@

            <div>
                <script>
                    var model = @Json.Serialize(Model);
                    StartMapAllList(model);
                </script>
            </div>
        </div>
    </div>
</div>