@using Newtonsoft.Json
@using ThePath.Frontend.Models.Classes.Dto
@using ThePath.Frontend.ViewConverterLanguage
@model IList<EntertainmentLookupDtoByTypeAndAreaAndPrice>;
@{
    ViewData["Title"] = "Поиск " + ResultListEntertainmentLanguage.TypeEntertainmentConvertToTitle(Model.FirstOrDefault().TypeEntertainment);
    ViewData["Description"] = "Покажем фото, адрес места, необходимые контакты, расположение на карте! А также ты сможешь найти другие развлечения в Томске! Ты найдешь чем занять себя в Томске!";
    ViewData["Keywords"] = "карта развлечений в Томске, место развлечения в Томске, кинотеатры Томска, кафе Томска, рестораны Томска, базы отдыха Томска, сауны Томска, достопримечательности Томска, бани Томска, развлечения для детей в Томске, спортзалы Томска, Конная прогулка в Томске, интересные места Томска, куда сходить в Томске, куда можно сходить в Томске, куда сходить с детьми в Томске, куда сходить в томске в выходные, куда сходить в томске сегодня, куда сходить в томске в декабре, куда сходить в томске приезжим, пушкинская карта томск куда сходить, томск куда сходить с детьми в выходные, куда сходить в томске зимой, куда сходить томск кафе, куда сходить в томске покушать, куда сходить на новый год в томске, томск куда сходить семьей, куда сходить на день рождения томск, куда сходить с девушкой в томске, томск куда сходить вечером, куда сходить на день рождения томск, куда сходить в томске поесть, куда сходить в томске на новогодние праздники, куда сходить подростку в томске, томск куда сходить туристу, куда сходить в томске развлечения, куда можно сходить в томске развлечения, чем заняться в Томске, что делать в Томске";
}

<head>
    <meta charset="utf-8">
    <script src="~/js/map.js" charset="utf-8" type="text/javascript"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
    <link rel="stylesheet" href="~/css/CardEntertainment.css">
    <link rel="stylesheet" href="~/css/MarkerCluster.css" />
    <link rel="stylesheet" href="~/css/MarkerCluster.Default.css" />
    <script src="~/js/leaflet.markercluster-src.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">Выбери место</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" style="margin-bottom: 20px;">
            <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">Из списка:</p>
            @if (Model.Count == 0)
            {
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4>По вашему запросу ничего не найдено</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                        <div style="overflow: auto; width:85%; height:70vh;" class="mx-auto">
                    @foreach (var i in Model)
                    {
                        <form method="post" asp-controller="Home" asp-action="DetailsEntertainment">
                            <div class="card" id="ss" onclick="EntertainmantDetailsMap('@i.Latitude', '@i.Longitude', '@i.Name' , 14)">
                                <div class="row no-gutters">
                                    <div class="card">
                                        <div class="col-md-12">
                                            <img class="card-img peopleCarouselImg" asp-controller="Home" asp-action="DetailsEntertainment" src="@Url.Content((i.UrlImage + "main.jpg").Replace(" ", ""))">
                                            <div class="card-body text-center">
                                                <p style="font-family: Montserrat, sans-serif;font-size: 28px;">
                                                    @i.Name
                                                </p>
                                                @if(i.Address != "")
                                                {
                                                    <p style="font-family: Montserrat, sans-serif;font-size: 24px;">
                                                        (@i.Address);
                                                    </p>
                                                }
                                                <a class="btnCard btn btn-outline-primary text-center" role="button" asp-controller="Home" asp-action="DetailsEntertainment" asp-route-Id="@i.Id" style="width: 187px;font-size: 22px;"><strong>Подробности</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            }
        </div>
        <div class="col-lg-8 col-md-6"  style="margin-bottom: 20px;">
            <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">На карте:</p>
            <style>
                #map {
                    overflow: auto;
                    height: 70vh;
                    width: 95%;
                }
            </style>
            <div class="container">
                <div id="map"></div>
            </div>
            @Html.Hidden("RedirectTo", Url.Action("DetailsEntertainment", "Home")) @*РRedirect after touch popup*@

            <div>
                <script>
                    var model = @Json.Serialize(Model);
                    StartMapAllList(model);
                </script>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center" style="margin-bottom: 20px;">
        <a class="btn btn-outline-primary" role="button" onclick="history.back()" style="width: 187px;font-size: 22px;"><strong>Вернуться назад</strong></a>
    </div>
</div>
